<!DOCTYPE html>
<html>
<head>
  <style>

    /* Header style */
    header {
      background-color: #333;
      color: #fff;
      padding: 10px 0;
    }

    /* Navigation style */
    nav ul {
      list-style-type: none;
      padding: 0;
      text-align: center;
    }

    /* Navigation item style */
    nav ul li {
      display: inline;
      margin-right: 20px;
    }

    /* Navigation link style */
    nav ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
    }

    /* Navigation link hover style */
    nav ul li a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/profile">Home</a></li>
        <li><a href="/get-AllBooks">All Books</a></li>
        <li><a href="/displaycart">Cart</a></li>
        <li><a href="/login">Logout</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>
